@import "react-toastify/dist/ReactToastify.css";

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/helvetica-neu.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "La Belle Aurore";
  src: url("./assets/fonts/LaBelleAurore.woff2") format("woff2"),
    url("./assets/fonts/LaBelleAurore.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Coolvetica";
  src: url("./assets/fonts/CoolveticaRg-Regular.woff2") format("woff2"),
    url("./assets/fonts/CoolveticaRg-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font: 300 12px/1.4 "Helvetica Neue", sans-serif;
  color: #e8eaec;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #020d18;
  // overflow: hidden;
  // display: block;
  input,
  textarea {
    font-family: "Helvetica Neue", sans-serif;
  }

  .Toastify {
    text-align: center;
    .Toastify__toast {
      color: #233a50 !important;
      font-weight: 700;
      letter-spacing: 1px;
      height: 50px;
      text-align: center;
    }
  }
}
