@import "react-toastify/dist/ReactToastify.css";

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/helvetica-neu.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "La Belle Aurore";
  src: url("./assets/fonts/LaBelleAurore.woff2") format("woff2"),
    url("./assets/fonts/LaBelleAurore.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Coolvetica";
  src: url("./assets/fonts/CoolveticaRg-Regular.woff2") format("woff2"),
    url("./assets/fonts/CoolveticaRg-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font: 300 12px/1.4 "Helvetica Neue", sans-serif;
  color: #e8eaec;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #020d18;
  input,
  textarea {
    font-family: "Helvetica Neue", sans-serif;
  }
  .Toastify {
    text-align: center;
    .Toastify__toast {
      color: #233a50 !important;
      font-weight: 700;
      letter-spacing: 1px;
      height: 50px;
      text-align: center;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .ant-pagination {
    width: 400px;
    margin: auto;
    @media (max-width: 576px) {
      width: 280px;
    }
    @media (max-width: 576px) {
      .custom-pagination .ant-pagination-item,
      .custom-pagination .ant-pagination-prev,
      .custom-pagination .ant-pagination-next {
        margin: 0 2px;
        padding: 2px 6px;
        font-size: 12px;
      }

      .custom-pagination .ant-pagination-prev-icon,
      .custom-pagination .ant-pagination-next-icon {
        font-size: 14px;
      }
    }
  }

  .custom-pagination .ant-pagination-item-active {
    background-color: #233a50;
  }
  .custom-pagination .ant-pagination-item a {
    color: pink;
  }
  .custom-pagination .ant-pagination-item-active a {
    color: white;
  }
  .custom-pagination .ant-pagination-item:focus a,
  .custom-pagination .ant-pagination-item:hover a {
    transform: scale(1.2);
  }

  .ant-pagination-item-link svg {
    color: white;
  }
  .ant-pagination-item-ellipsis {
    color: white !important;
  }
  @media (max-width: 576px) {
    .custom-pagination .ant-pagination-item,
    .custom-pagination .ant-pagination-prev,
    .custom-pagination .ant-pagination-next {
      margin: 0;
      padding: 0;
      font-size: 10px;
    }
  }
}
